<h1>Log In</h1>
<form action='/login' method='POST'>
<input type="text" name="session[email]"  placeholder="Email">
<input type="password" name="session[password]" placeholder="Password">
<input type="submit"  value="Log In">
</form>
