body{
    background: url("background-shoes.jpg");
    background-size: cover;
    color: #FFFFFF;
    font-family: 'Overpass', sans-serif;
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.nav-li {
    float: left;
    display: block;
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.nav-li:hover {
    background-color: #b6e1fc;
    color: white;
}
/* CSS for new shoe form*/

input[type=submit] {
    background-color: #87CEFA;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #b6e1fc;
}

.new-shoe-listing {
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 50px;
    width:60%;
    margin-right: 20%;
    margin-left: 20%;
    color: black;
}

.all-shoes{
  margin: 0 auto;
  list-style-type: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  opacity: .85;
  padding: 10px;
  width:50%;
  margin-right: 20%;
  margin-left: 20%;
  color: black;
  text-align: center;
}
.browse-shoes{
  text-align: center;
}
#map {
        height: 100%;
      }
