<h1>Sign Up</h1>
<section class="sign-up-form">
  <form action='/users' method='POST'>
  <input type='text' name="user[name]" placeholder='Name'><br>
  <input type="email" name="user[email]"  placeholder="Email"><br>
  <input type="password" name="user[password]" placeholder="Password"><br>
  <input type="zip_code" name="user[zip_code]" placeholder="Zip Code"><br>
  <input type="submit"  value="Sign Up">
  </form>
</section>
