<section class="new-shoe-listing">
  <h1>Sign Up</h1>
  <form action='/users' method='POST'>
    <label for="Name">Name</label>
    <input type='text' name="user[name]" placeholder='Name'><br>

    <label for="Email">Email</label>
    <input type="email" name="user[email]"  placeholder="Email"><br>

    <label for="password">Password</label>
    <input type="password" name="user[password]" placeholder="Password"><br>

    <label for="zip code">Zip Code</label>
    <input type="zip_code" name="user[zip_code]" placeholder="Zip Code"><br>

    <input type="submit"  value="Sign Up">
  </form>
</section>
