<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" type="text/css" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Kykit - Buy, Sell, Trade with fellow Sneakerheads!</title>
</head>
<body>
  <nav class="nav-bar">
    <ul class="nav-ul">
      <li class="nav-li"><a href="/">Home</a></li>
      <li class="nav-li"><a href="users/new">Sign Up</a></li>
      <li class="nav-li"><a href="/login">Login</a></li>
      <% if current_user %>
      <li class="nav-li"><a href='/shoes/new'>Add a Listing</a></li>
      <li class="nav-li"><a href="/logout">Log Out</a></li>
      <% end %>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
