<h1>New Listing</h1>
<section class="new-shoe-listing">
  <form action='/shoes' method='POST'>

  <label for="image">Image</label>
  <input type="file" name="pic" accept="image/*"><br>

  <label for="title">Title</label>
  <input type='text' name="shoes[title]" placeholder='Title'><br>

  <label for="Brand">Brand</label>
  <input type="text" name="shoes[brand]"  placeholder="Brand"><br>

  <label for="Size">Size</label>
  <select name="shoes[size]">
    <option value="4">4</option>
    <option value="4.5">4.5</option>
    <option value="5">5</option>
    <option value="5.5">5.5</option>
    <option value="6">6</option>
    <option value="6.5">6.5</option>
    <option value="7">7</option>
    <option value="7.5">7.5</option>
    <option value="8">8</option>
    <option value="8.5">8.5</option>
    <option value="9">9</option>
    <option value="9.5">9.5</option>
    <option value="10">10</option>
  </select><br>

  <label for="Price">Price</label>
  <input type="decimal" name="shoes[price]" placeholder="Price"><br>

  <label for="Condition">Condition</label>
  <select name="shoes[condition]">
    <option value="Brand New">Brand New</option>
    <option value="Like New">Like New</option>
    <option value="Good">Good</option>
    <option value="Tore Up">Tore Up</option>
  </select><br>

  <label for="zip code">Zip Code</label>
  <input type="zip_code" name="shoes[zip_code]" placeholder="Zip Code"><br>

  <label for="Distance">Distance</label>
  <input type="text" name="shoes[distance]" placeholder="Distance">miles<br>

  <label for="Description">Description</label>
  <textarea name="shoes[description]" rows="10" cols="30" placeholder='Description'></textarea><br>

  <input type="submit"  value="Add New Listing">
  </form>
</section>
