<h1>New Listing</h1>
<section class="new-shoe-listing">
  <form action='/shoes' method='POST'>
  <input type='text' name="shoes[title]" placeholder='Title'><br>
  <input type="text" name="shoes[brand]"  placeholder="Brand"><br>
  <input type="number" name="shoes[size]" placeholder="Size" min="4" max="12"><br>
  <input type="text" name="shoes[price]" placeholder="Price"><br>
  <input type='text' name="shoes[condition]" placeholder='Condition'><br>
  <input type="text" name="shoes[distance]" placeholder="Distance"><br>
  <input type='textbox' name="shoes[description]" placeholder='Description'><br>
  <input type="submit"  value="Add New Listing">
  </form>
</section>
